<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <!-- 自定义的JpaRealm -->
    <bean id="jpaRealm" class="cn.itsource.shiro.JpaRealm">
        <property name="credentialsMatcher">
            <bean class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">
            <property name="hashAlgorithmName" value="MD5" />   <!--加密方式-->
            <property name="hashIterations" value="10" />       <!--加密次数-->
        </bean>
        </property>
    </bean>

    <!-- Shiro的核心对象securityManager -->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <!-- set方法注入一个realm对象 -->
        <property name="realm" ref="jpaRealm"/>
    </bean>

    <!-- 3.lifecycleBeanPostProcessor：可以自动调用在Spring Ioc窗口中 Shiro bean的生成周期方法 -->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>
    <!-- 4.启动ioc容器中使用shiro的注解，但是必需配置在Spring Ioc容器中Shiro bean的生成周期方法 -->
    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"
          depends-on="lifecycleBeanPostProcessor"/>
    <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
        <property name="securityManager" ref="securityManager"/>
    </bean>


    <!--
        Shiro中真正做实事的那个过滤器
            当前bean标签的id必须与web.xml中写的过滤器的名称保持一致
    -->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <!--
            登录页面地址
                当你访问需要登录才能访问的资源，而并没有登录时，就自动使用重定向方式帮我们跳转到loginUrl
       -->
        <property name="loginUrl" value="/page/login"/>
        <!-- 登录成功后要跳转的页面地址 -->
        <property name="successUrl" value="/s/index.jsp"/>
        <!--
            访问资源时无权限的情况下要跳转的页面地址
                当你访问需要授权才能访问的资源，而并不拥有指定的权限时，就自动重定向方式帮我们跳转到unauthorizedUrl
        -->
        <property name="unauthorizedUrl" value="/s/unauthorized.jsp"/>
        <!--
            告诉Shiro，哪些资源是需要登录才能的访问，哪些资源是不需要登录就能访问，哪些资源是需要拥有哪些权限才能访问的
            anon 表示不需要登录就可以访问的资源
            authc 表示必须要登录后才能访问的资源
            perms  表示需要授权才能访问的资源
        <property name="filterChainDefinitions">
            <value>
                /favicon.ico = anon
                *.png = anon
                *.css = anon
                *.js = anon
                # 表示当前资源必须要拥有employee:*权限才能访问
                /s/zy1 = perms[employee:*]
                /s/zy2 = perms[dept:*]
                /s/zy3 = perms[ddd:*]
                /s/login = anon
                # 除了以上资源之外的其他所有资源都是必须登录才能访问的: authc必须放在最后
                /** = authc
            </value>
        </property>-->
        <property name="filterChainDefinitionMap" ref="map" />
        <!-- 扩展Shiro的过滤器 -->
        <property name="filters" ref="filters" />
    </bean>

    <!-- 实例工厂 -->
    <bean id="filterChainDefinitionMapFactory"
          class="cn.itsource.shiro.FilterChainDefinitionMapFactory"/>
    <bean id="map" factory-bean="filterChainDefinitionMapFactory"
          factory-method="getFilterChainDefinitionMap" />


    <!-- 实例工厂扩展Shiro的过滤器 -->
    <bean id="filterFactory" class="cn.itsource.shiro.AuthorizationFilterFactory"/>
    <bean id="filters" factory-bean="filterFactory" factory-method="getFilters" />

</beans>